{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Dashboard - Analytics{% endblock title %}

{% block vendor_css %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboards-analytics.js' %}"></script>
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/dashboards-analytics.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="row gy-6">
  <!-- Congratulations card -->
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="card-body text-nowrap">
        <h5 class="card-title mb-0 flex-wrap text-nowrap">Welcome to Palawan State University!</h5>
        <p class="mb-2">{{ colleges_count }} New College Updates!</p>
        <h4 class="text-primary mb-0">{{ students_count }}+ New Enrollees!</h4>

        <a href="javascript:;" class="btn btn-sm btn-primary">View Analytics</a>
      </div>
      <img src="{% static 'img/illustrations/trophy.png' %}" class="position-absolute bottom-0 end-0 me-5 mb-5" width="83" alt="view sales">
    </div>
  </div>
  <!--/ Congratulations card -->

  <!-- Transactions -->
  <div class="col-lg-8">
    <div class="card h-100">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="card-title m-0 me-2">Updates</h5>
          <div class="dropdown">
            <button class="btn text-muted p-0" type="button" id="transactionID" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ri-more-2-line ri-24px"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
              <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
              <a class="dropdown-item" href="javascript:void(0);">Share</a>
              <a class="dropdown-item" href="javascript:void(0);">Update</a>
            </div>
          </div>
        </div>
        <p class="small mb-0"><span class="h6 mb-0">{{ organizations_count }} New Orgmembers!</span></p>
      </div>
      <div class="card-body pt-lg-10">
        <div class="row g-6">
          <div class="col-md-3 col-6">
            <div class="d-flex align-items-center">
              <div class="avatar">
                <div class="avatar-initial bg-primary rounded shadow-xs">
                  <i class="ri-pie-chart-2-line ri-24px"></i>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-0">Organizations</p>
                <h5 class="mb-0">{{ organizations_count }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="d-flex align-items-center">
              <div class="avatar">
                <div class="avatar-initial bg-success rounded shadow-xs">
                  <i class="ri-group-line ri-24px"></i>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-0">Students</p>
                <h5 class="mb-0">{{ students_count }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="d-flex align-items-center">
              <div class="avatar">
                <div class="avatar-initial bg-warning rounded shadow-xs">
                  <i class="ri-macbook-line ri-24px"></i>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-0">Programs</p>
                <h5 class="mb-0">{{ programs_count }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="d-flex align-items-center">
              <div class="avatar">
                <div class="avatar-initial bg-info rounded shadow-xs">
                  <i class="ri-money-dollar-circle-line ri-24px"></i>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-0">Colleges</p>
                <h5 class="mb-0">{{ colleges_count }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Transactions -->

  <!-- Weekly Overview Chart -->
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h5 class="mb-1">Number of New Enrollees</h5>
          <div class="dropdown">
            <button class="btn text-muted p-0" type="button" id="weeklyOverviewDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ri-more-2-line ri-24px"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="weeklyOverviewDropdown">
              <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
              <a class="dropdown-item" href="javascript:void(0);">Share</a>
              <a class="dropdown-item" href="javascript:void(0);">Update</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body pt-lg-2" style="height: 300px;">
      <canvas id="weeklyOverviewChart"></canvas>
        {{ college_labels|json_script:"collegeLabels" }}
        {{ college_data|json_script:"collegeData" }}
        <script>
          const collegeChartLabels = JSON.parse(document.getElementById('collegeLabels').textContent);
          const collegeChartData = JSON.parse(document.getElementById('collegeData').textContent);
        </script>
        <div class="mt-1 mt-md-3">
          <div class="d-grid mt-3 mt-md-4">
            <button class="btn btn-primary" type="button">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Weekly Overview Chart -->

  <!-- Total Earnings -->
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="card-title m-0 me-2">Tuition Fees Paid</h5>
        <div class="dropdown">
          <button class="btn text-muted p-0" type="button" id="totalEarnings" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ri-more-2-line ri-24px"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalEarnings">
            <a class="dropdown-item" href="javascript:void(0);">2024-2025</a>
            <a class="dropdown-item" href="javascript:void(0);">2023-2024</a>
            <a class="dropdown-item" href="javascript:void(0);">2022-2023</a>
          </div>
        </div>
      </div>
      <div class="card-body pt-lg-8">
        <div class="mb-5 mb-lg-12">
          <div class="d-flex align-items-center">
            <h3 class="mb-0">Php 63,791.65</h3>
            <span class="text-success ms-2">
              <i class="ri-arrow-up-s-line"></i>
              <span>10%</span>
            </span>
          </div>
          <p class="mb-0">Compared to Php 57,992.41 last year</p>
        </div>
        <ul class="p-0 m-0">
          <li class="d-flex mb-6">
            <div class="avatar me-4">
                  <span class="avatar-initial bg-label-success rounded-circle">CS</span>
              </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">CS</h6>
                <p class="mb-0">{{ college_cs.college_name }}</p>
              </div>
              <div>
                <h6 class="mb-2">Php 34,895.65</h6>
                <div class="progress bg-label-primary" style="height: 4px;">
                  <div class="progress-bar bg-primary" style="width: 54.75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="d-flex mb-6">
            <div class="avatar me-4">
                  <span class="avatar-initial bg-label-primary rounded-circle">EC</span>
              </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">EC</h6>
                <p class="mb-0">{{ college_ec.college_name }}</p>
              </div>
              <div>
                <h6 class="mb-2">Php 18,650.20</h6>
                <div class="progress bg-label-info" style="height: 4px;">
                  <div class="progress-bar bg-info" style="width: 29%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="d-flex">
            <div class="avatar me-4">
                  <span class="avatar-initial bg-label-secondary rounded-circle">CC</span>
              </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">CC</h6>
                <p class="mb-0">{{ college_cc.college_name }}</p>
              </div>
              <div>
                <h6 class="mb-2">Php 10,245.80</h6>
                <div class="progress bg-label-secondary" style="height: 4px;">
                  <div class="progress-bar bg-secondary" style="width: 16%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--/ Total Earnings -->

  <!-- Four Cards -->
  <div class="col-xl-4 col-md-6">
    <div class="row gy-6">
      <!-- Total Profit line chart -->
      <div class="col-sm-6">
        <div class="card h-100">
          
          <div class="card-header pb-0">
            <h4 class="mb-0">Php 5,799.24</h4>
            <p class="text-success mb-0">+10%</p>
          </div>
          <div class="card-body">
            <div id="totalProfitLineChart" class="mb-3"></div>
            <h6 class="text-center mb-0">Total Profit</h6>
          </div>
        </div>
      </div>
      <!--/ Total Profit line chart -->
      <!-- Total Profit Weekly Project -->
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-header d-flex align-items-center justify-content-between">
            <div class="avatar">
                <div class="avatar-initial bg-success rounded shadow-xs">
                  <i class="ri-wallet-3-line ri-24px"></i>
                </div>
            </div>
            <div class="dropdown">
              <button class="btn text-muted p-0" type="button" id="totalProfitID" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="ri-more-2-line ri-24px"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalProfitID">
                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                <a class="dropdown-item" href="javascript:void(0);">Share</a>
                <a class="dropdown-item" href="javascript:void(0);">Update</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-1">Total Donations</h6>
            <div class="d-flex flex-wrap mb-1 align-items-center">
              <h4 class="mb-0 me-2">Php 25,867</h4>
              <p class="text-success mb-0">+12%</p>
            </div>
          </div>
        </div>
      </div>
      <!--/ Total Profit Weekly Project -->
      <!-- New Yearly Project -->
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-header d-flex align-items-center justify-content-between">
            <div class="avatar">
                <div class="avatar-initial bg-primary rounded shadow-xs">
                  <i class="ri-group-line ri-24px"></i>
                </div>
            </div>
            <div class="dropdown">
              <button class="btn text-muted p-0" type="button" id="newProjectID" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="ri-more-2-line ri-24px"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="newProjectID">
                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                <a class="dropdown-item" href="javascript:void(0);">Share</a>
                <a class="dropdown-item" href="javascript:void(0);">Update</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-1">Transferees</h6>
            <div class="d-flex flex-wrap mb-1 align-items-center">
              <h4 class="mb-0 me-2">{{ students_count }}+</h4>
            </div>
            <small>From Schools Outside Palawan</small>
          </div>
        </div>
      </div>
      <!--/ New Yearly Project -->
      <!-- Sessions chart -->
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-header pb-0">
            <h4 class="mb-0">2,856</h4>
          </div>
          <div class="card-body">
            <div id="sessionsColumnChart" class="mb-3"></div>
            <h6 class="text-center mb-0">Sessions</h6>
          </div>
        </div>
      </div>
      <!--/ Sessions chart -->
    </div>
  </div>
  <!--/ Total Earning -->

  <!-- Sales by Countries -->
  <div class="col-xl-4 col-md-6">
    <div class="card h-100">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="card-title m-0 me-2">Colleges with New Enrollees</h5>
        <div class="dropdown">
          <button class="btn text-muted p-0" type="button" id="saleStatus" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ri-more-2-line ri-24px"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="saleStatus">
            <a class="dropdown-item" href="javascript:void(0);">2022-2023</a>
            <a class="dropdown-item" href="javascript:void(0);">2023-2024</a>
            <a class="dropdown-item" href="javascript:void(0);">2024-2025</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        {% for college in top_colleges %}
        <div class="d-flex justify-content-between mb-4">
          <div class="d-flex align-items-center">
            <div class="avatar me-4">
              <span class="avatar-initial bg-label-info rounded-circle">
                {{ college.acronym }}
              </span>
            </div>
            <div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <h6 class="mb-0">{{ college.acronym }}</h6>
              </div>
              <p class="mb-0">{{ college.name }}</p>
            </div>
          </div>
          <div class="text-end">
            <h6 class="mb-1">{{ college.student_count }}</h6>
            <small class="text-muted">New Students</small>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
  <!--/ Sales by Countries -->

  <!-- Deposit / Withdraw -->
  <div class="col-xl-8">
    <div class="card-group">
      <div class="card mb-0">
        <div class="card-body card-separator">
          <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
            <h5 class="m-0 me-2">Best-Performing Students</h5>
            <a class="fw-medium" href="javascript:void(0);">Avg Grade</a>
          </div>
          <div class="deposit-content pt-2">
            <ul class="p-0 m-0">
              <li class="d-flex mb-4 align-items-center pb-2">
                <div class="flex-shrink-0 me-4">
                  <img src="{% static 'img/avatars/1.png' %}" alt="Avatar" class="rounded-circle" height="30" width="30">
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">{{ student_data12.firstname }} {{ student_data12.lastname }}</h6>
                    <p class="mb-0">{{ student_data12.student_id }}</p>
                  </div>
                  <h6 class="text-success mb-0">1.00</h6>
                </div>
              </li>
              <li class="d-flex mb-4 align-items-center pb-2">
                <div class="flex-shrink-0 me-4">
                  <img src="{% static 'img/avatars/2.png' %}" alt="Avatar" class="rounded-circle" height="30" width="30">
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">{{ student_data3.firstname }} {{ student_data3.lastname }}</h6>
                    <p class="mb-0">{{ student_data3.student_id }}</p>
                  </div>
                  <h6 class="text-success mb-0">1.25</h6>
                </div>
              </li>
              <li class="d-flex mb-4 align-items-center pb-2">
                <div class="flex-shrink-0 me-4">
                  <img src="{% static 'img/avatars/5.png' %}" alt="Avatar" class="rounded-circle" height="30" width="30">
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">{{ student_data4.firstname }} {{ student_data4.lastname }}</h6>
                    <p class="mb-0">{{ student_data4.student_id }}</p>
                  </div>
                  <h6 class="text-success mb-0">1.25</h6>
                </div>
              </li>
              <li class="d-flex mb-4 align-items-center pb-2">
                <div class="flex-shrink-0 me-4">
                  <img src="{% static 'img/avatars/6.png' %}" alt="Avatar" class="rounded-circle" height="30" width="30">
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">{{ student_data7.firstname }} {{ student_data7.lastname }}</h6>
                    <p class="mb-0">{{ student_data7.student_id }}</p>
                  </div>
                  <h6 class="text-success mb-0">1.75</h6>
                </div>
              </li>
              <li class="d-flex align-items-center">
                <div class="flex-shrink-0 me-4">
                  <img src="{% static 'img/avatars/7.png' %}" alt="Avatar" class="rounded-circle" height="30" width="30">
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">{{ student_data6.firstname }} {{ student_data6.lastname }}</h6>
                    <p class="mb-0">{{ student_data6.student_id }}</p>
                  </div>
                  <h6 class="text-success mb-0">1.75</h6>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="card mb-0">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
            <h5 class="m-0 me-2">Programs with Most Passers</h5>
            <a class="fw-medium" href="javascript:void(0);">Passers</a>
          </div>
          <div class="withdraw-content pt-2">
            <ul class="p-0 m-0">
              <li class="d-flex mb-4 align-items-center pb-2">
                <div class="avatar me-4">
                  <span class="avatar-initial bg-label-danger rounded-circle">CAH</span>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">BS-SW</h6>
                    <p class="mb-0">{{ program_social_work.prog_name }}</p>
                  </div>
                  <h6 class="text-success mb-0">89%</h6>
                </div>
              </li>
              <li class="d-flex mb-4 align-items-center pb-2">
                <div class="avatar me-4">
                  <span class="avatar-initial bg-label-success rounded-circle">AB</span>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">Agri-Business</h6>
                    <p class="mb-0">{{ program_track2.prog_name }}</p>
                  </div>
                  <h6 class="text-success mb-0">85%</h6>
                </div>
              </li>
              <li class="d-flex mb-4 align-items-center pb-2">
                <div class="avatar me-4">
                  <span class="avatar-initial bg-label-danger rounded-circle">CAH</span>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">BS-COMM</h6>
                    <p class="mb-0">{{ program_comm.prog_name }}</p>
                  </div>
                  <h6 class="text-success mb-0">71%</h6>
                </div>
              </li>
              <li class="d-flex mb-4 align-items-center pb-2">
                <div class="avatar me-4">
                  <span class="avatar-initial bg-label-danger rounded-circle">CAH</span>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">BS-PSYCH</h6>
                    <p class="mb-0">{{ program_psychology.prog_name }}</p>
                  </div>
                  <h6 class="text-success mb-0">70%</h6>
                </div>
              </li>
              <li class="d-flex align-items-center">
                <div class="avatar me-4">
                  <span class="avatar-initial bg-label-warning rounded-circle">CBA</span>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">BSA</h6>
                    <p class="mb-0">{{ program_accountancy.prog_name }}</p>
                  </div>
                  <h6 class="text-success mb-0">61%</h6>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Deposit / Withdraw -->

  <!-- Data Tables -->
  <div class="col-12">
    <div class="card">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th class="text-truncate">User</th>
              <th class="text-truncate">Student ID</th>
              <th class="text-truncate">Program</th>
              <th class="text-truncate">College</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-sm me-4">
                    <img src="{% static 'img/avatars/1.png' %}" alt="Avatar" class="rounded-circle">
                  </div>
                  <div>
                    <h6 class="mb-0 text-truncate">{{ student_data12.firstname }} {{ student_data12.lastname }}</h6>
                  </div>
                </div>
              </td>
              <td class="text-truncate">{{ student_data12.student_id }}</td>
              <td class="text-truncate">
                <div class="d-flex align-items-center">
                  <span>{{ student_data12.program }}</span>
                </div>
              </td>
              <td><span class="badge bg-label-warning rounded-pill">{{ student_data12.college }}</span></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-sm me-4">
                    <img src="{% static 'img/avatars/3.png' %}" alt="Avatar" class="rounded-circle">
                  </div>
                  <div>
                    <h6 class="mb-0 text-truncate">{{ student_data2.firstname }} {{ student_data2.lastname }}</h6>
                  </div>
                </div>
              </td>
              <td class="text-truncate">{{ student_data2.student_id }}</td>
              <td class="text-truncate">
                <div class="d-flex align-items-center">
                  <span>{{ student_data2.program }}</span>
                </div>
              </td>
              <td><span class="badge bg-label-secondary rounded-pill">{{ student_data2.college }}</span></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-sm me-4">
                    <img src="{% static 'img/avatars/2.png' %}" alt="Avatar" class="rounded-circle">
                  </div>
                  <div>
                    <h6 class="mb-0 text-truncate">{{ student_data3.firstname }} {{ student_data3.lastname }}</h6>
                  </div>
                </div>
              </td>
              <td class="text-truncate">{{ student_data3.student_id }}</td>
              <td class="text-truncate">
                <div class="d-flex align-items-center">
                  <span>{{ student_data3.program }}</span>
                </div>
              </td>
              <td><span class="badge bg-label-warning rounded-pill">{{ student_data3.college }}</span></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-sm me-4">
                    <img src="{% static 'img/avatars/5.png' %}" alt="Avatar" class="rounded-circle">
                  </div>
                  <div>
                    <h6 class="mb-0 text-truncate">{{ student_data4.firstname }} {{ student_data4.lastname }}</h6>
                  </div>
                </div>
              </td>
              <td class="text-truncate">{{ student_data4.student_id }}</td>
              <td class="text-truncate">
                <div class="d-flex align-items-center">
                  <span>{{ student_data4.program }}</span>
                </div>
              </td>
              <td><span class="badge bg-label-success rounded-pill">{{ student_data4.college }}</span></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-sm me-4">
                    <img src="{% static 'img/avatars/4.png' %}" alt="Avatar" class="rounded-circle">
                  </div>
                  <div>
                    <h6 class="mb-0 text-truncate">{{ student_data5.firstname }} {{ student_data5.lastname }}</h6>
                  </div>
                </div>
              </td>
              <td class="text-truncate">{{ student_data5.student_id }}</td>
              <td class="text-truncate">
                <div class="d-flex align-items-center">
                  <span>{{ student_data5.program }}</span>
                </div>
              </td>
              <td><span class="badge bg-label-warning rounded-pill">{{ student_data5.college }}</span></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-sm me-4">
                    <img src="{% static 'img/avatars/7.png' %}" alt="Avatar" class="rounded-circle">
                  </div>
                  <div>
                    <h6 class="mb-0 text-truncate">{{ student_data6.firstname }} {{ student_data6.lastname }}</h6>
                  </div>
                </div>
              </td>
              <td class="text-truncate">{{ student_data6.student_id }}</td>
              <td class="text-truncate">
                <div class="d-flex align-items-center">
                  <span>{{ student_data6.program }}</span>
                </div>
              </td>
              <td><span class="badge bg-label-success rounded-pill">{{ student_data6.college }}</span></td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-sm me-4">
                    <img src="{% static 'img/avatars/6.png' %}" alt="Avatar" class="rounded-circle">
                  </div>
                  <div>
                    <h6 class="mb-0 text-truncate">{{ student_data7.firstname }} {{ student_data7.lastname }}</h6>
                  </div>
                </div>
              </td>
              <td class="text-truncate">{{ student_data7.student_id }}</td>
              <td class="text-truncate">
                <div class="d-flex align-items-center">
                  <span>{{ student_data7.program }}</span>
                </div>
              </td>
              <td><span class="badge bg-label-warning rounded-pill">{{ student_data7.college }}</span></td>
            </tr>
            <tr class="border-transparent">
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-sm me-4">
                    <img src="{% static 'img/avatars/1.png' %}" alt="Avatar" class="rounded-circle">
                  </div>
                  <div>
                    <h6 class="mb-0 text-truncate">{{ student_data12.firstname }} {{ student_data12.lastname }}</h6>
                  </div>
                </div>
              </td>
              <td class="text-truncate">{{ student_data12.student_id }}</td>
              <td class="text-truncate">
                <div class="d-flex align-items-center">
                  <span>{{ student_data12.program }}</span>
                </div>
              </td>
              <td><span class="badge bg-label-warning rounded-pill">{{ student_data12.college }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--/ Data Tables -->
</div>
{% endblock %}
